<%-include('header')%>
<main class="container">
      <section class="hero__container">
        <div class="hero__image__container">
          <img src="hero.jpeg" alt="hero image" class="hero__image" />
          <img
            src="./assets/svg/heroShape.svg"
            alt="hero image shape"
            class="hero__image__shape"
          />
          <img
            src="./assets/svg/herobgpattren.svg"
            alt="hero image shape"
            class="hero__image__pattren"
          />
        </div>
        <div class="hero__description">
          <h1 class="hero__text">
            Stuck Somewhere ?
            Don't Worry We Got Your Back.
          </h1>
          <button class="button__primary">Book Now</button>
        </div>
      </section>

      <section class="video__footage__container">
        <div class="video__footage">
          <iframe
            src="assets/video.mp4"
            frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture"
            allowfullscreen
            class="chef__video"
          ></iframe>
        </div>
        <div class="video__footage__text">
          <p>
            Your each and every mechanic need is provided by highly professional 
            people. The best in industry service is here, Book Now
          </p>
        </div>
      </section>

      <section class="food__list__container">
        <h1 class="text-xl">Explore our menu</h1>
        <div class="food__list__container__diagonal"></div>

        <div class="food__menu__card__list">
          <div class="food__menu__card">
            <img
              src="assets/flatTire.jpeg"
              alt="flat tire"
              class="food__menu__card__image"
            />
            <div class="food__menu__card__details">
              <h4 class="text-lg"><strong>Flat Tires</strong></h4>
              <p>
               Guarenteed fix within 10 mins of our excetive reaching you.
                <span style="color: red">+3</span>
              </p>
            </div>
          </div>
          <div class="food__menu__card food__menu__card__move__up">
            <img
              src="assets/scratch.jpeg"
              alt="scratch"
              class="food__menu__card__image"
            />
            <div class="food__menu__card__details">
              <h4 class="text-lg"><strong>Scratches</strong></h4>
              <p>
                We will make it like scratch never happens.
                <span style="color: red">+3</span>
              </p>
            </div>
          </div>
          <div class="food__menu__card">
            <img
              src="./assets/refill.jpeg"
              alt="iceCream"
              class="food__menu__card__image"
            />
            <div class="food__menu__card__details">
              <h4 class="text-lg"><strong>Refilling</strong></h4>
              <p>
                Fuel flew in woods we are here to help you.
                <span style="color: red">+3</span>
              </p>
            </div>
          </div>
        </div>
        <div class="food__list__view__more">View More</div>
      </section>
      <section class="restaurant__list__container">
        <div class="restaurant__list__text">
          <h4 class="text-xl">Every mechanic service need are fulfilled by us.</h4>
        </div>
        <div class="restaurant__list__images__container">
          <div class="restaurant__list__row_1">
            <div>
              <img
                src="./assets/pic1.jpeg"
                alt="restaurant1"
                class="restaurant1"
              />
            </div>
            <img
              src="./assets/pic3.jpeg"
              alt="restaurant2"
              class="restaurant2"
            />
          </div>
          <div class="restaurant__list__row_2">
            <img
              src="./assets/pic2.jpeg"
              alt="restaurant3"
              class="restaurant3"
            />
            <img
              src="./assets/pic4.jpeg"
              alt="restaurant4"
              class="restaurant4"
            />
          </div>
        </div>
      </section>
      <section class="email__subcribe__container">
        <div>
          <h1 class="text-xl">Stay Updated</h1>
          <div class="email__subcribe__input__field">
            <div>
              <input
                type="email"
                placeholder="email@email.com"
                class="email__input"
              />
            </div>
            <button class="button__primary">Get Updates</button>
          </div>
        </div>
      </section>

      <section class="quote__container">
        <div class="quote_image_overlay"></div>
        <h3 class="quote_image_text">
          Walking a kilometer is like travelling to Mars barefoot, don't be unhappy we will fix your rocket. 
        </h3>
      </section>
    </main>
   <%-include('footer')%>